{{#each this}}
<li class="litem">
    <div class="photo-card">
        <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="" />

        <div class="stats">
            <p class="stats-item">
                <i class="material-icons"></i>
                {{title}}
            </p>
            <p class="stats-item">
                <i class="material-icons">|</i>
                {{release_date}}
            </p>
            </p>
        </div>
    </div>
</li>
{{/each}}