{{#each this}}
<li class="litem">
    <div class="photo-card">
        <img src=https://image.tmdb.org/t/p/w500{{poster_path}} alt="" />

        <div class="stats">
            <p class="stats-item">
                <i class="material-icons"></i>
                {{title}}
            </p>
            <p class="stats-item">
                <i class="material-icons">|</i>
                {{release_date}}
            </p>
            </p>
        </div>
    </div>
</li>
{{/each}}



{{!-- {popularity: 60.147, vote_count: 31, video: false, poster_path: "/cDbOrc2RtIA37nLm0CzVpFLrdaG.jpg",…}
adult: false
backdrop_path: "/qEo36RiT8w4hMFlf9KohOSuX3HZ.jpg"
genre_ids: [10751, 35, 18]
id: 513584
original_language: "en"
original_title: "Think Like a Dog"
overview: "A 12-year-old tech prodigy whose science experiment goes awry and he forges a telepathic connection with his
best friend, his dog. The duo join forces and use their unique perspectives on life to comically overcome complications
of family and school."
popularity: 60.147
backdrop_path: "/cDbOrc2RtIA37nLm0CzVpFLrdaG.jpg"
release_date: "2020-08-06"
title: "Think Like a Dog"
video: false
vote_average: 6.5
vote_count: 31 --}}