<header>
  <article class="bcgimg">
    <ul class="nav-list">
      <li>
        <a href=""
          ><svg class="icon">
            <use href="../images/sprite.svg#icon-film"></use>
          </svg>
        </a>
      </li>
      <li class="logo"><a href="">Filmoteka</a></li>
      <li class="nav active"><a href="">Home</a></li>
      <li class="nav"><a href="">my library</a></li>
    </ul>
    <div class="search">
      <input
        type="text"
        name="message"
        placeholder="Поиск фильмов"
        class="input"
      />
      <svg class="icon-search">
        <use href="../images/sprite.svg#icon-search-2"></use>
      </svg>
      <p>Search result not successful. Enter the correct movie name and</p>
    </div>
  </article>
</header>
