<main>
  <section class="gallery">
    <ul class="gallery-list">
      <li class="gallery item"><div class="block"></div></li>
      <li class="gallery item"><div class="block"></div></li>
      <li class="gallery item"><div class="block"></div></li>
      <li class="gallery item"><div class="block"></div></li>
      <li class="gallery item"><div class="block"></div></li>
      <li class="gallery item"><div class="block"></div></li>
      <li class="gallery item"><div class="block"></div></li>
      <li class="gallery item"><div class="block"></div></li>
      <li class="gallery item"><div class="block"></div></li>
    </ul>
  </section>
</main>
