.footer {
  background-color: $background-color-footer;
  width: 100%;
  margin-top: 40px;
  justify-content: center;
  @media screen and (max-width: $tablets - 1) {
    max-width: $tablets - 1;
  }
  @media screen and (min-width: $tablets) {
    width: 100%;
  }
  // @media screen and (min-width: $desktop) {
  //   width: ;
  // }
}

.footer-content {
  padding-top: 29px;
  padding-bottom: 30px;
}

.footer-text,
.footer-info {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
  text-align: center;

  color: $secondery-text-color;
}

.text-product {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  text-align: center;

  color: $secondery-text-color;
}
