#page {
  &.tui-pagination {
    justify-content: space-around;
    align-items: center;
    height: 40px;
  }

  &.tui-page-btn {
    width: 20px;
    height: 20px;

    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border: none;

    :focus {
      outline: none;
      border: 2px solid $accent-color;
    }
  }

  &.tui-next-is-ellip {
    margin-left: 5px;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &.tui-prev,
  &.tui-next {
    background-color: #f7f7f7;
    width: 40px;
    height: 40px;
  }

  &.tui-prev {
    margin-left: 5px;
  }
  &.tui-next {
    margin-right: 5px;
  }

  &.tui-page-btn.page-btn {
    padding: 0px;
    &:not(:last-child) {
      margin-left: 5px;
    }
    border: none;
  }

  &.tui-page-btn.tui-is-selected.active-page-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #ff6b08;
    color: white;
    border: none;
  }

  &.tui-is-disabled {
    display: none;
    border: none;
  }
  &.tui-first,
  &.tui-last {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
