body {
  background-color: tomato;
}
#search-form {
  display: grid;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

input {
  width: 100px;
  height: 20px;
  padding: 10px;
}

img {
  width: 100%;
  height: auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  list-style: none;
}

.stats {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.stats-item {
  margin-right: 10px;
}
